extends layoutAutenticado
block content
    .w3-container(style="display: flex;")
        .w3-container(style='width:50%;')
                center
                    h4
                        b Adicionar novo Grupo
                input.w3-input.w3-border(type='text' id='_id' placeholder='Nome' required)
                input.w3-input.w3-border(type='text' id='curso' placeholder='Curso' required)
                input(type='checkbox' id="checkbox" name='descendencia')
                |  Descendencia
                br
                hr
                div(id="teste")
                    label
                        b Grupos Filhos:
                    table.w3-table-all(id="table")
                    button.button01( type="" style="width:20%; " onclick="addTableRow('table')") Add Filho

                    hr
                button.button01(type="" onclick="createGroup()" style="width:30%") Criar Grupo

                                
        .w3-container(style="flex-grow: 1;")    
            include chat

            script.
                $( "#checkbox" ).prop( "checked", true );
                $('#checkbox').change(function() {
                    if(this.checked) {
                        document.getElementById("teste").style.display = "block";
                    }
                    else 
                        document.getElementById("teste").style.display = "none";     
                });
                        
            