extends layout
block content
        .w3-container(style='width:100%;')
            center
                h4
                    b User Adicionado com sucesso!
                hr
                button.button01(style="width:20%" onclick="location.href='/grupos/UM'") Entrar no UMbook
                button.button01(style="width:20%" onclick="location.href='/logout'") Sair
                hr
                        
            