block content        
        #chat-sidebar
            each a in users
                .sidebar-user-box(id=""+a._id+"")
                    img(src='user.png')
                    span#slider-username=a.nome