block content        
        #chat-sidebar
            #100.sidebar-user-box
                img(src='user.png')
                span#slider-username Sumit Kumar Pradhan 
            .sidebar-user-box(id="100")
                img(src='user.png')
                span#slider-username Skptricks 
            #102.sidebar-user-box
                img(src='user.png')
                span#slider-username Amit Singh 
            #103.sidebar-user-box
                img(src='user.png')
                span#slider-username Neeraj Tiwari 
            #104.sidebar-user-box
                img(src='user.png')
                span#slider-username Sorav Singh 
            #105.sidebar-user-box
                img(src='user.png')
                span#slider-username Lokesh Singh 
            #106.sidebar-user-box
                img(src='user.png')
                span#slider-username Tony 
            #107.sidebar-user-box
                img(src='user.png')
                span#slider-username Alex Robby 
            #108.sidebar-user-box
                img(src='user.png')
                span#slider-username Pragaya Mishra 
            #109.sidebar-user-box
                img(src='user.png')
                span#slider-username Abhishek Mishra
            #106.sidebar-user-box
                img(src='user.png')
                span#slider-username Tony 
            #107.sidebar-user-box
                img(src='user.png')
                span#slider-username Alex Robby 
            #108.sidebar-user-box
                img(src='user.png')
                span#slider-username Pragaya Mishra 
            #109.sidebar-user-box
                img(src='user.png')
                span#slider-username Abhishek Mishra  
