extends layoutAutenticado
block content            
    .w3-container(style="display: flex;")
        .w3-container(style="width: 150%;")
            p
            center
                .w3-container(style = 'width:40%;' )
                    form(method='POST' action='/publicacao/principal')
                        textarea(id = "conteudo" name="conteudo" placeholder= "Escreva o que lhe vai na alma..." rows='5', cols='76')
                        input.w3-input.w3-border.w3-light-grey(type='file' name='ficheiros' multiple)
                        button.button01(type="submit") Publicar
            if(lista.length > 0)
                hr
            each pub in lista
                center
                    .w3-container(style = 'width:38%; border-width:2px; background-color:white; border-style:double; border-color:#990000; text-align:left;')
                        .w3-container(style = 'float: left;')
                            b= pub.nomeUser
                        .w3-container(style = 'float: right;')
                            b= pub.data
                        hr(style="border-color: #990000;")
                        center
                            text= pub.conteudo
                    p
                    p
        .w3-container(style="flex-grow: 1;")    
            include chat