extends layoutAutenticado
block content
    .w3-container(style="display: flex;")
        .w3-container(style='width:100%;')
            center
                h4
                    b Grupos de #{user.nome}
            if user.grupos.length > 0
                each g in user.grupos
                    ul
                        li
                            a(href='/grupos/'+g)= g
                            p
        .w3-container(style="flex-grow: 1;")    
            include chat
                        
            