extends layout
block content

    .w3-containter

        center
            h3 Só mais um passo! 
            div(id="teste" style="width:50%")
    script.
        var grupos = !{JSON.stringify(grupos)}
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
        showRegistoFacebook();

